body {
  width: 1920px;
  height: 900px;
  flex-shrink: 0;

  background: url(/frontend/css/imagens/Xtriagem.png);
}

.corpo {
  width: 1920px;
  height: 900px;

  background: linear-gradient(
    272deg,
    rgba(10, 10, 10, 0) 0%,
    rgba(10, 10, 10, 0.52) 100%
  );
}

.container {
  display: flex;
  width: 1920px;
  padding: 22px 38px 0 1553px;
  justify-content: flex-end;
  align-items: center;
}

.botao_login {
  width: 248px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #25dbb6;

  border: none;
  box-shadow: none;
  outline: none;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 100.032% */
  letter-spacing: -0.93px;
  cursor: pointer;
}

.botao_login:hover {
  background: #057c64;
}

.simbolo {
  width: 360px;
  height: 261px;
  aspect-ratio: 40/29;
  padding-left: 150px;
}

h1 {
  display: flex;
  width: 869px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #f0f0f0;
  text-align: center;
  font-family: Inter;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 31.25% */
  letter-spacing: -0.93px;
  padding-left: 80px;
  padding-top: 950px;
}

.titulo {
  display: flex;
  width: 869px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
}
