body {
  width: 1920px;
  height: 900px;
  background: url(/frontend/css/imagens/plano_de_fundo002.png);
}

h1 {
  display: flex;
  width: 755px;
  height: 150px;
  padding: 38px 0;
  justify-content: center;
  align-items: center;
  margin-right: 700px;
  margin-left: 100px;

  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
}

h3 {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
  padding-right: 1000px;
  margin-left: 30px;
  margin-bottom: 1px;
}

h5 {
  height: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 155.05% */
  letter-spacing: -0.93px;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 25px;
}

a {
  width: 368px;
  height: 83px;
  border-radius: 10px;
  background: #0f4a79;

  color: #fff;
  text-align: center;
  margin-left: 8px;
}

p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.01px; /* 206.733% */
  letter-spacing: -0.93px;
  padding-right: 70px;
  margin-left: 30px;
}

.container_ {
  display: flex;
  width: 1920px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    272deg,
    rgba(10, 10, 10, 0) 0%,
    rgba(10, 10, 10, 0.48) 64.42%
  );
}

.titulo {
  display: flex;
  width: 755px;
  height: 150px;
  padding: 38px 0;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  height: 190px;
  aspect-ratio: 18/13;
}

.navegador {
  width: 384px;
  height: 890px;
  border-radius: 5px;
  background: #09394a;
  margin-top: 30px;
}

.dash {
  width: 333px;
  height: 112px;
  border-radius: 5px;
  background-color: #020632;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.botoes_areas {
  width: 368px;
  height: 83px;
  border-radius: 10px;
  background-color: #0f4a79;
  cursor: pointer;

  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
  text-align: center;
  margin-top: 10px;
  border: none;
  box-shadow: none;
  outline: none;
}

.botoes_areas:hover {
  background-color: #3e7cac;
}

.corpo_ {
  display: flex;
}

.avaliacao {
  width: 1494px;
  height: 890px;
  border-radius: 10px;
  background: #30719a;
  margin-top: 30px;
  margin-left: 20px;
}

.escolha_paciente {
  width: 1346px;
  height: 230px;
  border-radius: 25.6px;
  background: rgba(9, 6, 73, 0.19);
  box-shadow: 0 0 0 1px #f9f9f9 inset;
  margin-left: 70px;
  padding-top: 10px;
}

.paciente {
  width: 1191px;
  height: 135px;
  border-radius: 25.6px;
  background: rgba(9, 6, 73, 0.19);
  box-shadow: 0 0 0 1px #f9f9f9 inset;
  margin-left: 60px;
  padding-top: 1px;
  padding-left: 20px;
}

.paciente input {
  width: 1080px;
  height: 36px;
  border: 1px solid #fff;
  background: rgba(6, 3, 46, 0.24);
  margin-left: 40px;
  padding-left: 40px;
  color: #fff;
  box-shadow: none;
  outline: none;
}
