body {
  width: 1920px;
  height: 900px;
  flex-shrink: 0;
}

h1 {
  display: flex;
  width: 530px;
  height: 150px;
  padding: 47px 0 29px 0;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
}

button {
  width: 248px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #25dbb6;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 100.032% */
  letter-spacing: -0.93px;
}

.dados {
  width: 509px;
  height: 280px;
  border-radius: 20px;
  background-color: #f0f0f0;
}

.dados input {
  width: 372px;
  height: 61px;
  border-radius: 20px;
  background: #d9d9d9;
  align-items: center;
  justify-content: center;

  display: flex;
  padding: 15px 0;

  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 155.05% */
  letter-spacing: -0.93px;
}

.titulo {
  display: flex;
  width: 535px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;

  color: #f0f0f0;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 70.313% */
  letter-spacing: -0.93px;
}

.corpo {
  display: flex;
  width: 1920px;
  height: 900px;
  padding: 93px 0 657px 0;
  justify-content: center;
  align-items: center;

  background: url(/frontend/css/imagens/papel\ de\ parede\ 1.jpg)
    lightgray -119.892px 0px / 112.489% 100% no-repeat;
  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%),
    url(<path-to-image>) lightgray 0% 0% / 50px 50px repeat;
}
