body {
  width: 100vw;
  height: 100vh;
  flex-shrink: 0;
  margin: 0%;
  padding: 0%;

  background:
    linear-gradient(0deg, rgba(0, 0, 0, 0.25) 100%, rgba(0, 0, 0, 0.25) 100%),
    url(./../imagens/plano_de_fundo001.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.corpo {
  width: 100%;
  height: 100%;
}

h1 {
  display: flex;
  width: 530px;
  height: 150px;
  padding: 47px 0 29px 0;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  height: 10px;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 155.05% */
  letter-spacing: -0.93px;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 25px;
}

button {
  width: 220px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 24px;
  background: #25dbb6;

  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 100.032% */
  letter-spacing: -0.93px;

  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.botao_cadastro {
  display: flex;
  width: 200px;
  height: 104px;
  justify-content: center;
  align-items: center;
  margin-left: 660px;
  margin-top: 30px;

  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
}

.botao_cadastro:hover {
  background: rgb(8, 102, 102);
}

.dados {
  width: 980px;
  height: 350px;
  border-radius: 20px;
  background-color: #f0f0f0;
  margin-left: 270px;
  padding-top: 10px;
  display: flex;
}

.dados input {
  width: 370px;
  height: 40px;
  border-radius: 20px;
  border-color: #d9d9d9;
  background: #d9d9d9;
  align-items: center;
  justify-content: center;

  display: flex;
  padding: 3px 0;
  margin: 65px;
  margin-bottom: 10px;
  margin-top: 25px;
  border: none;
  box-shadow: none;
  outline: none;

  color: black;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 155.05% */
  letter-spacing: -0.93px;
}

.titulo {
  display: flex;
  width: 700px;
  height: 58px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  color: #000000;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 70.313% */
  letter-spacing: -0.93px;
  padding-left: 420px;
  padding-top: 50px;
}

.dados_pessoais {
  width: 431px;
  height: 300px;
}

.senha {
  width: 399px;
  height: 170px;
  margin-left: 50px;
}
