body {
  width: 1920px;
  height: 900px;
  flex-shrink: 0;

  background: url(/frontend/css/imagens/plano_de_fundo001.png);
}

.corpo {
  width: 1920px;
  height: 900px;

  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.25) 100%,
    rgba(0, 0, 0, 0.25) 100%
  );
}

h1 {
  display: flex;
  width: 530px;
  height: 150px;
  padding: 47px 0 29px 0;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  margin-left: 167px;
}

h5 {
  color: #000;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 155.05% */
  letter-spacing: -0.93px;
  margin-left: 45px;
}

button {
  width: 248px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 24px;
  border-color: #25dbb6;
  background: #25dbb6;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 100.032% */
  letter-spacing: -0.93px;

  border: none;
  box-shadow: none;
  outline: none;
}

.botao_cadastro {
  display: flex;
  width: 258.83px;
  height: 104px;
  justify-content: center;
  align-items: center;
  margin-left: 800px;
  margin-top: 20px;

  border: none;
  box-shadow: none;
  outline: none;
}

.dados {
  width: 509px;
  height: 550px;
  border-radius: 20px;
  background-color: #f0f0f0;
  margin-left: 680px;
}

.dados input {
  width: 370px;
  height: 40px;
  border-radius: 20px;
  border-color: #d9d9d9;
  background: #d9d9d9;
  align-items: center;
  justify-content: center;

  display: flex;
  padding: 3px 0;
  margin: 65px;
  margin-bottom: 10px;
  margin-top: 25px;
  border: none;
  box-shadow: none;
  outline: none;

  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 155.05% */
  letter-spacing: -0.93px;
}

.titulo {
  display: flex;
  width: 700px;
  height: 74px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  color: #000000;
  text-align: center;
  font-family: Inter;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px; /* 70.313% */
  letter-spacing: -0.93px;
  padding-left: 420px;
  padding-top: 50px;
}

.dados_pessoais {
  width: 431px;
  height: 300px;
  padding-top: 1px;
}

.senha {
  width: 399px;
  height: 170px;
  padding-top: 15px;
}
