body {
  width: 100vw;
  height: 100vh;
  padding: 0%;
  margin: 0%;
  background: url(./../imagens/plano_de_fundo002.png);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

hr {
  width: 1050px;
  height: 3px;
  background: #10146f;
  margin-left: 50;
  margin-top: 50px;

  border: none;
  box-shadow: none;
  outline: none;
}

h1 {
  display: flex;
  width: 600px;
  height: 150px;
  padding: 38px 0;
  justify-content: center;
  align-items: center;
  margin-right: 700px;
  margin-left: 100px;

  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
}

h3 {
  width: 230px;
  height: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
}

h5 {
  height: 10px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px;
  padding-right: 50px;
  padding-left: 30px;
  margin-top: 10px;
}

a {
  width: 100px;
  height: 63px;
  border-radius: 10px;

  color: #fff;
  text-align: center;
  margin-left: 8px;
}

p {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.01px; /* 206.733% */
  letter-spacing: -0.93px;
  margin: 1px;
  margin-left: 30px;
  padding-top: 1px;
}

.container_ {
  display: flex;
  width: 100vw;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    272deg,
    rgba(10, 10, 10, 0) 0%,
    rgba(10, 10, 10, 0.48) 64.42%
  );
}

.titulo {
  display: flex;
  width: 500px;
  height: 100px;
  padding: 38px 0;
  justify-content: center;
  align-items: center;
}

.titu1 {
  padding-left: 30px;
}

.titu2 {
  width: 300px;
  padding-left: 30px;
}

.logo {
  width: 100px;
  height: 110px;
  margin-left: 100px;
  aspect-ratio: 18/13;
}

.navegador {
  width: 330px;
  height: 570px;
  border-radius: 5px;
  background: #09394a;
  margin-top: 30px;
  margin-left: 10px;
}

.dash {
  width: 280px;
  height: 50px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #020632;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.botoes_areas {
  width: 300px;
  height: 53px;
  border-radius: 10px;
  background-color: #0f4a79;
  cursor: pointer;

  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
  text-align: center;
  margin-left: 8px;
  margin-top: 10px;
  border: none;
  box-shadow: none;
  outline: none;
}

.botoes_areas:hover {
  background-color: #3e7cac;
}

.corpo_ {
  display: flex;
}

.areabase {
  width: 1150px;
  height: 570px;
  border-radius: 10px;
  background: #30719a;
  margin-top: 30px;
  margin-left: 20px;
}

.dashboard {
  width: 400px;
  height: 94px;
}

.graficos {
  display: flex;
  padding-left: 95px;
  width: 1000px;
  height: 100px;
}

.pacientes {
  width: 200px;
  height: 135px;
  border-radius: 5px;
  background: #1c446f;
}

.avaliacoes {
  width: 200px;
  height: 135px;
  border-radius: 5px;
  background: #1c446f;
  margin-left: 50px;
}

.encaminhamentos {
  width: 200px;
  height: 135px;
  border-radius: 5px;
  background: #1c446f;
  margin-left: 50px;
}

.relatorio {
  width: 200px;
  height: 135px;
  border-radius: 5px;
  background: #1c446f;
  margin-left: 50px;
}

.acoes {
  width: 1100px;
  height: 90px;
  display: flex;
  margin-left: 50px;
}

.novo_user {
  width: 250px;
  height: 60px;
  background-color: #0f4a79;
  border: none;
  box-shadow: none;
  outline: none;

  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
  margin-left: 40px;
  cursor: pointer;
}

.novo_user:hover {
  background-color: #10146f;
}

.nova_avaliacao {
  width: 250px;
  height: 60px;
  background-color: #0f4a79;
  border: none;
  box-shadow: none;
  outline: none;

  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
  margin-left: 280px;
  cursor: pointer;
}

.nova_avaliacao:hover {
  background: #10146f;
}

.novo_relatorio {
  width: 250px;
  height: 60px;
  background-color: #0f4a79;
  border: none;
  box-shadow: none;
  outline: none;

  color: #fff;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
  margin-left: 520px;
  cursor: pointer;
}

.novo_relatorio:hover {
  background: #10146f;
}

.sistema {
  width: 1030px;
  height: 170px;
  border-radius: 20px;
  border: 2px solid #020632;
  background: rgba(97, 133, 152, 0.59);
  margin-left: 50px;

  align-items: center;
  justify-content: center;
}
