body {
  width: 1920px;
  height: 900px;
  background: url(/frontend/css/imagens/plano_de_fundo002.png);
}

h1 {
  display: flex;
  width: 755px;
  height: 150px;
  padding: 38px 0;
  justify-content: center;
  align-items: center;
  margin-right: 700px;
  margin-left: 100px;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
}

h3 {
  color: #fff;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
  margin-left: 30px;
  margin-bottom: 1px;
}

h5 {
  height: 10px;
  color: #fff;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 155.05% */
  letter-spacing: -0.93px;
  padding-right: 50px;
  padding-left: 50px;
  margin-top: 25px;
  padding-top: 30px;
}

a {
  width: 368px;
  height: 83px;
  border-radius: 10px;
  background: #0f4a79;

  color: #fff;
  text-align: center;
  margin-left: 8px;
}

p {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.01px; /* 206.733% */
  letter-spacing: -0.93px;
  padding-right: 70px;
  margin-left: 30px;
}

button {
  width: 248px;
  height: 93px;
  flex-shrink: 0;
  border-radius: 24px;
  border-color: #25dbb6;
  background: #25dbb6;

  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 31px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 100.032% */
  letter-spacing: -0.93px;
}

.botao_user_ {
  display: flex;
  width: 258.83px;
  height: 104px;
  justify-content: center;
  align-items: center;
  margin-left: 540px;
  margin-top: 30px;

  border: none;
  box-shadow: none;
  outline: none;
}

.container_ {
  display: flex;
  width: 1920px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    272deg,
    rgba(10, 10, 10, 0) 0%,
    rgba(10, 10, 10, 0.48) 64.42%
  );
}

.titulo {
  display: flex;
  width: 755px;
  height: 150px;
  padding: 38px 0;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 200px;
  height: 190px;
  aspect-ratio: 18/13;
}

.navegador {
  width: 384px;
  height: 890px;
  border-radius: 5px;
  background: #09394a;
  margin-top: 30px;
}

.dash {
  width: 333px;
  height: 112px;
  border-radius: 5px;
  background-color: #020632;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
}

.botoes_areas :hover {
  cursor: pointer;
  background-color: #3e7cac;
}

.botoes_areas {
  width: 368px;
  height: 83px;
  border-radius: 10px;
  background-color: #0f4a79;

  color: #fff;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 31.01px; /* 129.208% */
  letter-spacing: -0.93px;
  text-align: center;
  margin-top: 10px;
  border: none;
  box-shadow: none;
  outline: none;
}

.corpo_ {
  display: flex;
}

.top {
  display: flex;
}

.usuarios {
  width: 1494px;
  height: 890px;
  border-radius: 10px;
  background: #30719a;
  margin-top: 30px;
  margin-left: 20px;
}

.buscar_usuario input {
  width: 1346px;
  height: 52px;
  border-radius: 25.6px;
  background: rgba(13, 39, 95, 0.69);
  box-shadow: 0 0 0 1px #f9f9f9 inset;
  border: none;
  outline: none;
  margin-left: 50px;
  padding-left: 40px;
  color: #fff;
}

.usuarios_ {
  width: 1346px;
  height: 162px;
  border-radius: 25.6px;
  background: rgba(9, 6, 73, 0.61);
  margin-top: 35px;
  margin-left: 50px;
}
